# cypress_test_api
#
# This file was automatically generated by APIMATIC v3.0
# ( https://www.apimatic.io ).

module CypressTestApi
  # APIController
  class APIController < BaseController
    # Creates a new resource in the system.
    # @param [Status11Enum] status Required parameter: The status of the items
    # to filter by.
    # @param [Item] body Optional parameter: Custom model with additional
    # properties
    # @return [Object] Response from the API call.
    def createanitem(status,
                     body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/items/{status}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(status, key: 'status')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:json_deserialize))
                    .local_error('400',
                                 'Bad Syntax',
                                 APIException)
                    .local_error('401',
                                 'Unauthorized',
                                 APIException)
                    .local_error('403',
                                 'Permission Denied',
                                 APIException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] id Required parameter: The ID of the item to retrieve
    # @param [String] value Required parameter: The value of the item to
    # retrieve
    # @return [Item] Response from the API call.
    def getanitemby_id(id,
                       value)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/items/{id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(id, key: 'id')
                                    .should_encode(true))
                   .query_param(new_parameter(value, key: 'value'))
                   .header_param(new_parameter('application/json', key: 'accept')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Item.method(:from_hash)))
        .execute
    end

    # Generates a new OAuth token with the specified scopes.
    # @param [TokensRequest] body Optional parameter: TODO: type description
    # here
    # @return [void] Response from the API call.
    def create_o_auth_token(body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/tokens',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end))
        .response(new_response_handler
                    .is_response_void(true)
                    .local_error('400',
                                 'Bad request',
                                 APIException))
        .execute
    end

    # This endpoint accepts a complex structure with multiple arrays.
    # @param [MultipleArraysRequest] body Optional parameter: TODO: type
    # description here
    # @return [void] Response from the API call.
    def test_endpointwith_arrays(body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/multiple-arrays',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end))
        .response(new_response_handler
                    .is_response_void(true)
                    .local_error('400',
                                 'Bad request',
                                 APIException))
        .execute
    end
  end
end
